.ChartContainer {
  height: 75vh;
  max-height: 600px;
  max-width: 900px;
  width: 80vw;
}

.ChartContainer svg {
  /* This prevents the X axis labels from being cut off on the right */
  overflow: unset !important;
}
