.ChartContainer {
  height: 75vh;
  max-height: 600px;
  max-width: 900px;
  width: 80vw;

  /* Make sure chart tooltip is never covered by other elements (e.g. buttons) near the chart */
  z-index: 10;
}

.ChartContainer svg {
  /* This prevents the X axis labels from being cut off on the right */
  overflow: unset !important;
}
