.ButtonGroup {
  padding: 1em;
  /* Make sure buttons never cover up tooltips. This can particularly happen on mobile when the chart is smaller */
  z-index: 0;
}

.Main {
  display: flex;
  flex-direction: column;
  /* Center items horizontally */
  align-items: center;

  padding: 2em;
}
